/* 
    Document   : base
    Created on : 05/06/2012, 20:07:38
    Author     : danielcarlos
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

table {
    border: 1px solid;
}
h1 {
    color: blue;
}
#teste {
    color: blue;
}

